

body{
    background-color: #f5f5f5;
}
header
{
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
   background-repeat: no-repeat;
   
}
.navbar{
    z-index: 9999;
}
.layer-header{
    background-color: rgba(0,0,0,.5);
}
.nav-link{
    color: white !important;
    font-size: 16px;
}
.navbar-light .navbar-toggler-icon{
    background-image: unset;
}
.navbar-toggler:focus{
    box-shadow: 0 0 0 0;
}

.dropdown1:hover .menu1{
    display: block;
}
.dropdown2:hover .menu2{
    display: block;
}
.menu2{
    right: 100%;
top: 10px;
}
.nav-link{
    position: relative;
    padding-left: 0;
    padding-right: 0;
}
.navbar-nav{
    width: 60%;
}
.nav-link::before{
    content: "";
    position: absolute;
    color: black !important;
    background-color: white;
    width: 0px;
    height: 2px;
    bottom: 0;
    left: 0px;
    transition: all 1s;
}
.nav-link:hover::before{
    content: "";
    position: absolute;
    background-color: white;
    width: 70%;
    height: 2px;
    bottom: 0;
    left: 10px;
}
.header-text  h1{
    font-size: 60px !important;
    font-weight: bold;
}
.type::after{
    content: "|";
    animation-name: typing;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes typing{
    0%{content:"|D";}
    1%{content:"|De";}
    2%{content:"|Dev";}
    3%{content:"|Deve";}
    4%{content:"|Devel";}
    5%{content:"|Develo";}
    6%{content:"|Develop"}
    7%{content:"|Develope";}
    8%{content:"|Developer";}
    9%{content: "|Develope";}
    10%{content:"|Develop";}
    11%{content:"|Develo";}
    12%{content:"|Devel";}
    13%{content:"|Deve";}
    14%{content:"|Dev";}
    15%{content:"|De";}
    16%{content:"|Des";}
    17%{content:"|Desi";}
    18%{content:"|Desig";}
    19%{content:"|Design";}
    20%{content:"|Designe";}
    21%{content:"|Designer";}
    22%{content:"|Designe";}
    23%{content:"|Design";}
    24%{content:"|Desig";}
    25%{content:"|Desi";}
    26%{content:"|Des";}
    27%{content:"|De";}
    28%{content:"|D";}
    29%{content:"|";}
    30%{content: "|F";}
    31%{content: "|Fr";}
    32%{content: "|Fre";}
    33%{content: "|Free";}
    34%{content: "|Freel";}
    35%{content: "|Freela";}
    36%{content: "|Freelan";}
    37%{content: "|Freelanc";}
    38%{content: "|Freelance";}
    39%{content: "|Freelancer";}
    40%{content: "|Freelance";}
    41%{content: "|Freelanc";}
    42%{content: "|Freelan";}
    43%{content: "|Freela";}
    44%{content: "|Freel";}
    45%{content: "|Free";}
    46%{content: "|Fre";}
    47%{content: "|Fr";}
    48%{content: "|F";}
    49%{content: "|";}
    50%{content: "|P";}
    51%{content: "|Ph";}
    52%{content: "|Pho";}
    53%{content: "|Phot";}
    54%{content: "|Photo";}
    55%{content: "|Photog";}
    56%{content: "|Photogr";}
    57%{content: "|Photogra";}
    58%{content: "|Photograp";}
    59%{content: "|Photograph";}
    60%{content: "|Photographe";}
    61%{content: "|Photographer";}
    62%{content:"|Photographe" ;}
    63%{content: "|Photograph";}
    64%{content: "|Photograp";}
    65%{content: "|Photogra";}
    66%{content: "|Photogr";}
    67%{content: "|Photog";}
    67%{content: "|Photo";}
    68%{content: "|Phot";}
    69%{content: "|Pho";}
    70%{content: "|Ph";}
    71%{content: "|P";}
    72%{content: "|";}
}
.header-text  h4{
    font-size: 40px;
   
}

.after{
    position: relative;
}
.after::after{
    content: "";
    background-color:  #007aff;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100px;
    height: 3px;
}
.info{
    padding-top: 4px;
    display: inline-block;
}
.info a{
    text-decoration: none;
    color: black;
}
.brdr{
    border-radius: 4px;
}
.range{
    position: relative;
}
.range::after{
   content: "";
   width: 100%;
   height: 10px;
   background-color: #cde1f8;
   position: absolute;
   top: 30px;
   left: 0;
   
}
.range::before{
    content: "";
    width: 85%;
    height: 10px;
    background-color:  #007aff;
    position: absolute;
    top: 30px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 9;
 }
 .range1::before{
    content: "";
    width: 70%;
    height: 10px;
    background-color:  #007aff;
    position: absolute;
    top: 30px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 9;
 }
 .range2::before{
    content: "";
    width: 50%;
    height: 10px;
    background-color:  #007aff;
    position: absolute;
    top: 30px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 9;
 }
 .range3::before{
    content: "";
    width: 90%;
    height: 10px;
    background-color:  #007aff;
    position: absolute;
    top: 30px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 9;
 }

 .brdr2{
     border-radius: 20px;
 }
 .myIcon{
     margin-top: 10px;
     font-size: 45px;
     border-radius: 50%;
     padding: 30px;
     border:10px solid #007aff;
     transition: all 1s;
 }
 .myIcon:hover{
    color:white;
     background-color: #007aff;
     border: 10px solid #cde1f8;
 }
 .brdr-blue{
    position: relative;
}
 .brdr-blue::after{
    content: "";
    width: 50px;
    height: 5px;
    background-color: #007aff;
    position:absolute;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
}
.services-counter{
    background-image: url(../img/counters-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    position: relative;
}
.layer-counter{
    background-color: rgba(0, 122, 255,0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
}
.counter{
    position: absolute;
    top: 10px;
    left: 0;
    bottom: 0;
    right: 0;
}
.myIcon2{
    margin-top: 45px;
     font-size: 30px;
     border-radius: 50%;
     padding: 20px;
     border:10px solid #cde1f8;
}
.card-text{
    font-size: 14px;
}
.color-blue{
    color: #007aff;
}
.card{
    overflow: hidden;
}
.card .img1{
    transition:all 1s ;
   
    
}
.card:hover .img1{
    transform: scale(1.3) ;
    
}
.Icon{
    
    font-size: 20px;
    margin-top: 5px;
   
}
.slider{
    background-image: url(../img/overlay-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.layer-slider{
    background-color: rgba(0, 122, 255,0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: relative;
}
.carousel-indicators{
    top:75%
}

.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
#carouselExampleIndicators{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
}
.font{
    font-size: 18px;
}
.card-body{
    position: relative;
}
.travel{
    background-color: #007aff;
    width:90px;
    top: -10%;
    transform: translateX(-50%);
    color: white;
    border-radius: 5px;
}
.card {
    padding: 0;
}

.box-img .img2{
    width: 30px;
    height: 30px;
}
.card-body{
    padding: 0;
}

#contact{
    background-image: url(../img/overlay-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.btn-submit{
    background-color: #007aff;
    color: white;
    border: 2px solid transparent;
    border-radius: 40px;
    padding: 10px 25px;
    transition: all .5s;
}
.btn-submit:hover{
    background-color:#0062d3;
    box-shadow: 0 0 0 5px #cde1f8 ;
}


.layer-contact{
    background-color: rgba(0, 122, 255,.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: relative;
}
.social i{
  
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #007aff;
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
.social i:hover{
   
    border: 3px solid #cde1f8;
    background-color: #007aff;
    color: white;
    
}
.footer{
    background-color: #007aff;
}
